extends layout

block page_css
  //- link(rel='stylesheet', href='/css/lightslider.min.css')
  link(rel='stylesheet', href='/css/pages/home.css')

block content
  section.content
    .row
      .col-md-12
        .box.box-primary
          .box-header
            i.fa.fa-home
            h3.box-title Social Network Analysis
          .box-body
            ul
              | Hướng dẫn sử dụng
              | Tính năng

block page_script
  //- script(src='/js/lightslider.min.js')
  script(src='/js/pages/home.js')
