extends layout

block page_css
  //- link(rel='stylesheet', href='/css/lightslider.min.css')
  link(rel='stylesheet', href='/css/pages/home.css')

block content
  section.content
    .row
      .col-md-12
        .box.box-primary
          .box-header
            i.fa.fa-home
            h3.box-title Social Network Analysis
          .box-body
            dt Hướng dẫn sử dụng
            dd Sau khi đọc xong hướng dẫn sử dụng này, hay click nút BẮT ĐẦU để bắt đầu sử dụng
            dd Nhập tên fanpage và số lượng post muốn lấy, sau đó click nút Show, đợi 1 lúc để xem kết quả. 
            | Nếu không thấy kết quả thì vui lòng kiểm tra lại tên fanpages có đúng không.
            dd Cột Link là để đi đến post trên trang facebook
            dd Cột Detail là để đi đến chi tiết của post và các comments của post đó
            dt Lưu ý
            dd Click vào tên cột để sắp xếp theo thứ tự tăng dần hay giảm dần (ví dụ số comments nhiều nhất, ngày post)
            dd Click và cột UID của các comments để đi đến profile của user đó
            dt Những tính năng sẽ được cập nhật trong phiên bản tiếp theo
            dd Tính năng tự động hiện thị profile của user
            | Cho phép lưu danh sách user và thông tin user vào file excel hay text
            dd Thêm tính số lượng và loại reaction cùng biểu tượng trên UI


    .row
      .col-md-2
        //- form(method="GET", action="/dashboard")
        //-   button(type="submit") Bắt đầu
        //- a.btn.btn-success.btn-sm.ad-click-event(href='/dashboard') BẮT ĐẦU
        a.btn.btn-block.btn-primary.btn-lgad-click-event(href='/dashboard') BẮT ĐẦU

block page_script
  //- script(src='/js/lightslider.min.js')
  script(src='/js/pages/home.js')
